.body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/df4qvkb-f3a7a3ee-a776-47f5-b7fd-d637c1484b33.jpg/v1/fill/w_983,h_813,q_70,strp/river_background_2_by_willdinomaster55_df4qvkb-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTIwMCIsInBhdGgiOiJcL2ZcLzgwZmY1MjNmLWZmODQtNDU3ZC1hNTQ3LTQ2NDU4OGQzYTNkM1wvZGY0cXZrYi1mM2E3YTNlZS1hNzc2LTQ3ZjUtYjdmZC1kNjM3YzE0ODRiMzMuanBnIiwid2lkdGgiOiI8PTE0NTAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.4A1NV1JhE1EtKAuKIzftW-EkHT2-0chlLmx9kZKMa3I");
  background-size: contain;
}

.contenedorTarjeta {
  margin: 0 30%;
}
.pokemonYSuNombre,
.pokemonYSuNumero {
  display: inline-block;
  z-index: 1;
}

.tarjeta {
  position: relative;
  height: 100vh;
  padding: 15px;
  border-radius: 15px;
  z-index: 0;
}

.superior {
  margin: 0 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding-top: 0px;
  color: white;
}

.arrow {
  margin-bottom: 10px;
  font-weight: 900;
  text-align: start;
  color: white;
  font-size: 3.5rem;
}
.pokeballFondo {
  z-index: -1;
  right: 20px;
  top: 10px;
  position: absolute;
  width: 50%;
}

.pokemonImagen {
  width: 350px;
}

.contenedorDatos {
  z-index: -1;
  border-radius: 15px;
  height: 56%;
  width: 96.5%;
  top: 42%;
  position: absolute;
  background-color: rgb(238, 241, 241);
}

.elemento1 {
  margin-right: 30px;
  padding: 10px;
  display: inline-block;
  height: 35px;
  border-radius: 15px;
  color: white;
  background-color: #74cb48;
}

.elemento2 {
  padding: 10px;
  display: inline-block;
  height: 35px;
  border-radius: 15px;
  color: white;
  background-color: #a43e9e;
}

.contenedorElementos {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.about {
  font-size: 1.6rem;
  font-weight: bolder;
  color: #74cb48;
  text-align: center;
  margin-top: 10px;
}

.contendorDatosPokemon {
  margin-top: 25px;

  align-items: center;
  justify-content: space-around;
  display: flex;
}

.c {
  margin-top: 15px;

  display: flex;
}

.p {
  border-right: 1px solid rgb(121, 117, 117);
}

.peso,
.tamaño {
  align-self: flex-end;
  margin: 0 15px 15px 15px;
}

h6 {
  margin-top: 10px;
  text-align: center;
  color: gray;
  margin-bottom: 15px;
}

.fire {
  background-color: #f57d31;
}

.water {
  background-color: #6493eb;
}
.grass {
  background-color: #74cb48;
}
.poison {
  background-color: #a96fb7;
}
.bug {
  background-color: #a7b723;
}
.flying {
  background-color: #a891ec;
}
.electric {
  background-color: #f9cf30;
}
.ghost {
  background-color: #70559bcd;
}
.type {
  background-color: #666666;
}
.normal {
  background-color: #aaa67f;
}
.psychic {
  background-color: #fb5584;
}
.steel {
  background-color: #b7b9d0;
}
.rock {
  background-color: #b69e31;
}
.imgPeso,
.imgTamaño {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}

.movimientos {
  text-align: center;
}

h5 {
  margin: 10px;
}

.descripcionPokemon {
  margin: 35px 15px 0 15px;
}

.baseStats {
  font-size: 1.5rem;
  color: #74cb48;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
}

.listaLetras {
  padding: 10px 10px 0px 20px;
  border-right: solid 1px rgb(153, 146, 146);
  margin: 2px;
  font-size: 1rem;
  text-align: end;
  list-style: none;
}
.listaNumeros {
  padding: 10px;
  font-size: 1rem;
  text-align: start;
  list-style: none;
}
li {
  font-size: 0.7rem;
  padding: 6px;
}

.datosDePokemon {
  margin-top: 5px;
  display: flex;
}
.botonesDeMover {
  cursor: grab;
  font-size: 2rem;
  border: unset;
  border-radius: 25px;
  background-color: unset;
}
.botonesDeMover:hover {
  transition-duration: 0.5s;
  transform: scale(1.5, 1.5);
}
